# backups
*~

# extra dirs
autom4te.cache/*
build-aux/*
lib/*
m4/*
tests/*

# build dirs
.deps/*
.libs/*

# autotools files
*.in
*.log
aclocal.m4
config.h
config.status
configure.scan
configure
libtool
Makefile
stamp-h1

# tags files
TAGS

# build files
com
*.1
*.o
*.lo
*.la
*.tar.*